CSS
header {
    background-color: var(--bg-main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .row {
    min-height: 100vh;
    display: flex;
    flex-direction: column;   /
    justify-content: flex-start; 
    align-items: center;     
    text-align: center;
    padding-top: 140px; 
}

header .col.c1 {       
    font-weight: 700;
}

header h1 {
    font-size: 16.67rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1; 
}

header .col.c1 h2 {       
    margin-top: 20px; 
}

header h2 {
    font-size: 4.17rem;
    text-align: center;
    margin-bottom: 0;
}

.fullscreen-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; 
}


