.quiz-section {
    background-color: var(--bg-main-color);
    padding-top: 60px;
    padding-bottom: 80px;
}

.quiz-row {
    display: flex;
    justify-content: center; /* Центрує весь блок питань посередині */
    gap: 80px;              /* Фіксований відступ між колонками */
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0;          
}

.quiz-col {
    width: 380px;        
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.quiz-col p {
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.4;
    color: #ffffff;
    min-height: 100px; 
}

.quiz-result {
    text-align: center;
}

.quiz-result p {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: #ffffff;
    margin: 0;
    line-height: 1.5;
}


.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.4s cubic-bezier(0.215, 0.610, 0.355, 1), 
                transform 1.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.row-1 {
    transition-delay: 0s; 
}
.row-2 {
    transition-delay: 0.3s; 
}
.row-3 {
    transition-delay: 0.6s; 
}
.row-4 {
    transition-delay: 0.9s; 
}